<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Puntozero" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <%= render partial: 'components/navbar', locals:{
    sconto:"Punto zero archittetura dal 1974",
    logo:' /img/nuovo.png',
    voci:  [
      {  testo: 'Home', link:'http://127.0.0.1:3000/home',},
      {  testo: 'Chi siamo',link:'http://127.0.0.1:3000/home'},
      {  testo: 'Servizi'},
      {  testo: 'Contatti'}
    ]
} %>


    <main class=" ">
      <%= yield %>
    </main>
    <%= render partial: 'components/footer', locals: {
  uniamo: [
    "Lavora con noi", 
    "I nostri servizi", 
    "Progetti realizzati", 
    "Interior Design", 
    "Ristrutturazioni"
  ],
  link: [
    "Chi siamo", 
    "FAQ", 
    "Contattaci", 
    "Sostenibilità", 
    "Team"
  ],
  seguici: [
    "Instagram", 
    "TikTok"
  ],
  altro: [
    "Configura i cookie", 
    "Termini e condizioni", 
    "Politica sulla privacy", 
    "Conformità"
  ],
 
} %>
  </body>
</html>
